.like {
    font-size: 4vw;
    color: var(--offwhite);
    background-color: var(--green);
}

button .bone {
    color: var(--off_white);
}


button .circle {
    color: var(--off_white);
}


.dislike {
    font-size: 5vw;
    background-color: var(--red);
}


.reset {}


.leaderboard {
    justify-content: center;
    margin-top: 2vw;
}