button {

}

.vote {
    padding: 0x;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 80px;
    border-radius: 100%;
    margin: 0;
    padding: 0;
    color: var(--offwhite);
    border: none;
}

.vote svg {
    width: 80%;
    height: 80%;
}

.like {

    background-color: var(--green);

}

button .bone {
    color: var(--off_white);
    padding: 5px;
    height: 50%;
    width: 50%;
}

button .circle {
    color: var(--off_white);
    padding: 5px;
    height: 50%;
    width: 50%;

}

.dislike {
    background-color: var(--red);
}

.reset {
	font-size: 5vw;
	background-color: var(--red);
}

/* ----------Leaderboard Reset button-------------- */
/* Had to add a wrapperto center button */
.resetWrapper {
	display: flex;
	justify-content: center;
}

.reset {
	margin-top: 2vw;
	width: 20rem;
	height: 4rem;
	background-color: var(--red);
	font-size: 30px;
	color: var(--dark_olive);
	transition: all 0.3s ease-in-out;
}

.reset:hover {
	transform: scale(1.1);
	color: var(--dark_olive);
}

/* ----------Profile to Leaderboard button-------------- */
.leaderboard {
	justify-content: center;
	margin-top: 2vw;
	width: 20rem;
	height: 4rem;
	background-color: var(--red);
	font-size: 30px;
	color: var(--dark_olive);
	transition: all 0.3s ease-in-out;
}

.leaderboard:hover {
	transform: scale(1.1);
	color: var(--dark_olive);
}
