.vote {
    padding: 0x;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 80px;
    border-radius: 100%;
    margin: 0;
    padding: 0;
    color: var(--offwhite);
    border: none;
}

.vote svg {
    width: 80%;
    height: 80%;
    padding: 5px;
}

.like {
    background-color: var(--green);
    margin-left: 20px;
    transition: 1s;
}

.like:hover {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.like_button {
    display: flex;
    align-items: center;
}


.dislike {
    background-color: var(--red);
    margin-right: 20px;
    transition: 1s;
}

.dislike:hover {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(-180deg);
}

.dislike_button {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 480px) {
    .vote {
        width: 50px;
        height: 50px;
    }
    .like {
        margin-left: 0;
    }
    .dislike {
        margin-right: 0;
    }
}

.reset {
	font-size: 5vw;
	background-color: var(--red);
}

/* ----------Leaderboard Reset button-------------- */
/* Had to add a wrapperto center button */
.resetWrapper {
	display: flex;
	justify-content: center;
}

.reset {
	margin-top: 2vw;
	width: 20rem;
	height: 4rem;
	background-color: var(--red);
	font-size: 30px;
	color: var(--dark_olive);
	transition: all 0.3s ease-in-out;
}

.reset:hover {
	transform: scale(1.1);
	color: var(--dark_olive);
}

/* ----------Profile to Leaderboard button-------------- */
.leaderboard {
	justify-content: center;
	margin-top: 2vw;
	width: 20rem;
	height: 4rem;
	background-color: var(--red);
	font-size: 30px;
	color: var(--dark_olive);
	transition: all 0.3s ease-in-out;
}

.leaderboard:hover {
	transform: scale(1.1);
	color: var(--dark_olive);
}