.header {
	text-align: center;
	color: var(--red);
	position: relative;
}

.header i {
	font-size: 2rem;
	padding: 1rem;
}

.header h1 {
	font-size: 3rem;
	/* line-height: 4rem; */
}

.header p {
	font-size: 20px;
	line-height: 1;
	font-weight: bold;
}

@media screen and (max-width: 480px) {
	.header i {
		font-size: 11vw;
	}

	.header h1 {
		font-size: 16vw;
	}

	.header p {
		font-size: 4vw;
	}
}
