
.list {
    max-width: 60%;
	margin-right:auto;
	margin-left:auto;
	display:flex;
	justify-content:center;
    align-items:center;
}

.table {
    width:100%;
    text-align: center;
    border-collapse: collapse;

}

.table-header {
	width:100%;
	background: var(--red);
    text-align: center;
}

.table-row {
    background: var(--teal);
}

tr:last-child th:first-child { border-bottom-left-radius: 10px; }

tr:last-child td:last-child { border-bottom-right-radius: 10px; }


.table td, .table th{
    border-top: 0px;
}