.list {
	max-width: 60%;
	margin-right: auto;
	margin-left: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	font-weight: bold;
	display: block;
	overflow: scroll;
	height: 14rem;
	scrollbar-width: none;
	position: relative;
}

::-webkit-scrollbar {
	display: none;
}

scrollbar {
	display: none;
}

.table {
	width: 100%;
	text-align: center;
	border-collapse: collapse;
}

.table-header {
	width: 100%;
	background: var(--red);
	text-align: center;
}

.table-row {
	background: var(--teal);
}

tr:last-child th:first-child {
	border-bottom-left-radius: 10px;
}

tr:last-child td:last-child {
	border-bottom-right-radius: 10px;
}

.table td,
.table th {
	border-top: 0px;
}

/* arrow  */
.arrow {
	position: absolute;
	right: 0px;
	font-size: 11px;
	margin: 3% 1%;
	color: var(--red);
}
.bounce {
	-moz-animation: bounce 2s infinite;
	-webkit-animation: bounce 2s infinite;
	animation: bounce 2s infinite;
}

@keyframes bounce {
	0%,
	20%,
	50%,
	80%,
	100% {
		transform: translateY(0);
	}
	40% {
		transform: translateY(-30px);
	}
	60% {
		transform: translateY(-15px);
	}
}
