.podium {
	max-width: 60%;
	margin: 0 auto;
	text-align: center;
}

.podium img {
	border-radius: 5%;
	max-width: 80%;
	object-fit: cover;
}

.podium td {
	width: 25rem;
}

.podium__ladder {
	position: relative;
	margin: 0 auto;
}

.podium__stand {
	vertical-align: bottom;
}

/* -------------- Position styling and alignment---------------- */

/* First Place */
.podium__firstPlace {
	position: relative;
	font-size: 2rem;
	font-weight: bold;
}

/* Second Place */
.podium__secondPlace {
	position: relative;
	top: 50px;
	font-size: 1rem;
	font-weight: bold;
}

.podium__secondPlace__img {
	position: relative;
	top: 50px;
}

/* Thirs Place */
.podium__thirdPlace {
	position: relative;
	top: 100px;
	font-size: 1rem;
	font-weight: bold;
}

.podium__thirdPlace__img {
	position: relative;
	top: 80px;
}

/* --------------Podium styling----------------- */

#podium0 {
	/* gold */
	/* height: 200px; */
	height: 8rem;
	background: #d6af36;
	border-top-right-radius: 5%;
	border-top-left-radius: 5%;
}
#podium1 {
	/* silver */
	/* height: 150px; */
	height: 6rem;
	background: #d7d7d7;
	border-top-right-radius: 5%;
	border-top-left-radius: 5%;
}
#podium2 {
	/* bronze */
	/* height: 100px; */
	height: 4rem;
	background: #a77044;
	border-top-right-radius: 5%;
	border-top-left-radius: 5%;
}
