/* .profile_section {
    width: 500px;
	margin: 0px auto;
	line-height: 1.4;
} */

.profile_section {
    max-width: 700px;
    min-width: 100px;
    margin: 0px auto;
    line-height: 1.4;
}

.profile_section img {
    max-width: 700px;
    min-width: 100px;
    height: 300px;
    /* object-fit: contain; */
    object-fit: cover;
}

.main_profile {
    display: flex;
    flex: row wrap;
    justify-content: center;
}

.lower_profile {
    display: flex;
    justify-content: center;
}

.card {
    background-color: var(--off_white);
}


.card .species_and_age {
    display: flex;
    flex: row wrap;
    justify-content: space-between;
}

.card .age_section {
    display: block;
}

.card .species_section {
    display: block;
}