.profile_section {
    width: 500px;
	margin: 0px auto;
	line-height: 1.4;
}

.main_profile {
    display: flex;
    flex: row wrap;
    justify-content: center;
}

.lower_profile {
    display: flex;
    justify-content: center;
}

.card {
    background-color: var(--off_white);
}


.card .name {

}

.card .species_and_age {
    display: flex;
    flex: row wrap;
    justify-content: space-between;
}

.card .species {}


.card .age {}


.card .bio {}