@font-face {
    font-family: 'Ubuntu Title';
    src: url(fonts/Ubuntu-Title.ttf);
}

@font-face {
    font-family: 'Ubuntu Regular';
    src: url(fonts/Ubuntu-Regular.ttf);
}

* {
    font-family: 'Ubuntu Regular';
}

h1 {
    font-family: 'Ubuntu Title';
}

button {
    font-family: 'Ubuntu Title';
}