@font-face {
	font-family: "Ubuntu Title";
	src: url(fonts/Ubuntu-Title.ttf);
}

@font-face {
	font-family: "Ubuntu Regular";
	src: url(fonts/Ubuntu-Regular.ttf);
}

* {
	font-family: "Ubuntu Regular";
}

h1 {
	font-family: "Ubuntu Title";
}

button {
	font-family: "Ubuntu Title";
}

.card .name {
    font-family: 'Ubuntu Title';
    font-size: 6vw;
    text-align: center;
    letter-spacing: 1vw;
    color: var(--dark_blue);
}

.card .species, .card .age {
    font-style: italic;
    color: teal;
    font-weight: bold;
    font-size: 3vw;
}

.card .bio {
    color: var(--dark_olive);
    text-align: center;
}

.card span {
	color:var(--red);
	font-size: 1.5vw;
	display: block;
	font-weight: normal;
}

@media screen and (max-width: 480px) {
	.card .name {
		font-size: 10vw;
	}
	.card span {
		font-size: 4vw;
	}
	.card .species, .card .age {
		font-size: 5vw;
	}
}